<h1> Appointments index </h1>

<ul>
  <% @appointments.each do |appointment| %>
    <li> <%= link_to appointment.name, appointment_path(appointment) %> </li>
  <% end %>

</ul>
<br>

<%= link_to "Create New appointment", new_appointment_path %>
<br>
