<!-- If we want a marker image -->
<%= image_tag "logo.png", height: 30, width: 30, alt: "Logo" %>

<!-- If we want a pill displaying the name
  <div class="badge rounded-pill bg-primary fs-6">

</div>
-->
<%= doctor_profile.user.first_name %>
