<div class="container">
  <h1> Doctors </h1>
  <div class="wrapper">
    <div class="card-grid">
     <% @users.each_with_index do |  user, i | %>
      <div class="first-wrap home">
        <img src="https://xsgames.co/randomusers/avatar.php?g=male">
        <div class="card-product-infos">
            <p class="name">Name: <%= user.first_name %></p>
            <p class="phone">Phone: <%= user.phone_number %></p>
            <p class="specialty">specialty: <%= @doctors[i].specialty %></p>
        <%= link_to "View more...", doctor_profile_path(@doctors[i].id)  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
