.banner{
  height: 50vh;
  background-color: #BFDDD9;
  display: flex;
  align-items: center;

  .container{
    display: flex;
    gap: 100px;
    h1 {
      font-size: 50px;
      font-weight: 600;
      color: #1A4741;
    }

    .search-bar{
      background-color: white;
      display: flex;
      border-radius: 15px;
      flex: 1;
      place-self: end;
      align-self: flex-end;

      .search {
        display: flex;
        width: 100%;
      }
    }

    input::placeholder{
      font-size: 20px;
    }

    input[type="text"]:focus{
      outline: none;
      box-shadow: none;
      border: none;
    }

    input[type="text"]{
      height: 50px;
      padding: 20px;
      outline: none;
      border: none;
      border-radius: 15px;
    }

    input::placeholder:nth-child(2){
      border-radius: 0px;
      border-left: 1px solid grey;
    }

  }
}
