input {
  padding: 10px 20px;
  border: none;
}

input[type = "submit"]{
  cursor: pointer;
  background-color: #1A4741;
  color: #BFDDD9;
}

input:focus
{
  border: none;
  outline: none;
  width: 100%;
}


input.book{
  width: 100%;
  place-self: end;
  align-self: flex-end;
  justify-self: end;
  height: 100%;
}
