.button {
  background-color: #1A4741;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  border: none;
}

.link{
  color: #1A4741;
  text-decoration: none;
}

input, input[type = "submit"] {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

input:focus
{
  border: none;
  outline: none;
  width: 100%;
}


input.book{
  width: 100%;
  place-self: end;
  align-self: flex-end;
  justify-self: end;
  height: 100%;
}
