nav{
  padding-bottom: 80px;
}
.navbar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: fixed;
  height: 100px;
  a.logo{
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #1A4741;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
