<div class="container">
  <h1> Appointments </h1>
  <div class="wrapper">
    <div class="card-grid">
      <% @appointments.each do | appointment | %>
      <div class="card-product home">
        <img src="https://xsgames.co/randomusers/avatar.php?g=male">
        <div class="card-product-infos">
            <p>Name: <%=appointment.user.first_name %></p>
            <p>Email: <%=appointment.user.email %></p>
            <p>Phone: <%=appointment.user.phone_number %></p>
            <%= link_to "View more...", appointment_path(appointment)  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
